
<!doctype html>
<head>
<title>Upload new File</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    console.log("being defined")
    $('a#test').bind('click', function() {
     $.get( "/get_ports", function(data) {
        alert( data);
        $('#lbl').text(data);
      })
      .fail(function() {
        alert( "error" );
      });
    });

    console.log("defining cmdChanged")
    $('#cmbSelectComPort').bind('change', function() {
      console.log("in cmbChanged");
      var selObject = document.getElementById('cmbSelectComPort'); 
      var x = selObject.selectedIndex;
      var y = selObject.options;

      document.getElementById('OpenPortDiv').style.visibility= "visible";
      document.getElementById('lblOpenClose').innerText =  y[x].text;
      document.getElementById('portSelectionDiv').style.visibility = "hidden";

      //alert(x);
      //alert(y);

      //alert("Index: " + y[x].index + " is " + y[x].text);

    });

    $('#btnPortOpenClose').bind('click', function() {
      alert("open was clicked")
      var thisPort = document.getElementById('lblOpenClose').innerText
      thisPort = thisPort.replace("/dev/","~dev~")
      var baud = document.getElementById('txtBaudRate').value
      $.get( "/open_port/" + thisPort + "/" + baud , function() {
        //nothing
      })
      .fail(function() {
        alert( "error" );
      });
    });

});

</script>


</head>
  <body>
        {% block content %} {% endblock %}
  </body>
</html>